<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/common :: common-head('検索結果')"></head>
<body class="base-body">
<th:block th:if="${user}"><header th:replace="components/common :: user-header"></header></th:block>
<th:block th:unless="${user}"><header th:replace="components/common :: no-login-header"></header></th:block>
<main class="base-main">
    <div th:replace="components/common :: base-menu(null,null)"></div>
    <div class="base-content-body">
        <div class="base-content-body-head">
            <div class="module-alert bg-white mt-10" th:if="${error}" th:text="${errorMessage}"></div>
            <div class="module-alert true bg-white mt-10" th:if="${success}" th:text="${successMessage}"></div>
            <div class="module-bread">
                <ul>
                    <li><a th:href="@{/search}" >検索結果</a></li>
                </ul>
            </div>
            <h1 class="module-title">
                <th:block th:if="${input != null}">「<span th:text="${input}"></span>」の検索結果</th:block>
                <th:block th:if="${input == null}">検索ワードを入力してください。</th:block>
            </h1>
        </div>
        <div class="base-content-article ">
            <div  class="base-article-body article">
                <ul class="module-search-result">
                    <li th:each="result : ${results}">
                        <a target="_blank" class="head" th:href="@{/search/} + ${result.pageId}"><span th:text="${result.pageName}"></span></a>
                        <div class="page-content" th:utext="${result.bodyHtml}"></div>
                    </li>
                </ul>
            </div>
        </div>
        <aside class="base-content-side">

        </aside>
    </div>
</main>
<footer th:replace="components/common :: common-footer"></footer>
<div th:if="${originalHtml != null}" th:utext="${originalHtml.body}"></div>
<div th:replace="components/common :: menu-add-form"></div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script th:src="@{/js/script_min.js}"></script>
<style th:if="${originalStyle != null}" th:utext="${originalStyle.body}"></style>
</body>
</html>
