<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common-head (title)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/highlight/default.css}" type="text/css">
</head>

<header th:fragment="no-login-header" class="base-header">
    <div class="base-header-left">
        <div class="module-sp-menu-button script-toggle-base-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="module-logo"><a th:href="@{/}">Simple Wiki</a></div>
        <div class="module-search"><form><input type="text" placeholder="Search..." /><button type="submit"><i class="fas fa-search"></i></button></form></div>
    </div>
    <div class="base-header-right">
        <div class="module-button bg-black border-white"><a th:href="@{/login}">Login</a></div>
    </div>
</header>

<header th:fragment="user-header" class="base-header">
    <div class="base-header-left">
        <div class="module-sp-menu-button script-toggle-base-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="module-logo"><a th:href="@{/}">Simple Wiki</a></div>
        <div class="module-search"><form><input type="text" placeholder="Search..." /><button type="submit"><i class="fas fa-search"></i></button></form></div>
    </div>
    <div class="base-header-right">
        <div class="module-user-menu script-user-menu-toggle">
            <div class="user-name"><i class="fas fa-user"></i><span th:text="${userInfo.name}"></span></div>
            <ul class="user-list">
                <li><a href="">システム設定</a></li>
                <li><a href="">ユーザー管理</a></li>
                <li><a href="">ユーザー名変更</a></li>
                <li><a href="">パスワード変更</a></li>
                <li><a th:href="@{/logout}">ログアウト</a></li>
            </ul>
        </div>
    </div>
</header>

<header th:fragment="login-header" class="base-header">
    <div class="base-header-left">
        <div class="module-logo"><a th:href="@{/}">Simple Wiki</a></div>
    </div>
    <div class="base-header-right">

    </div>
</header>

<div th:fragment="base-menu" class="base-menu">
    <nav class="module-menu-lists">
        <ul th:each="menu : ${menus}">
            <li>
                <p><a class="active" th:href="'/contents/' + ${#strings.toLowerCase(menu.menuLimit)} + '/' + ${menu.menuName}"><i class="fas fa-angle-right"></i><span th:text="${menu.menuName}"></span></a></p>
                <ul th:each="page : ${menu.pages}">
                    <li>
                        <p><a class="active" th:href="'/contents/' + ${#strings.toLowerCase(menu.menuLimit)} + '/' + ${menu.menuName} + '/' + ${page.name}"><i class="fas fa-angle-right"></i><span th:text="${page.name}"></span></a></p>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="module-button bg-gray" th:if="${user}">
            <a class="script-add-menu" href=""><i class="fas fa-plus"></i>メニュー追加</a>
        </div>
    </nav>
</div>

<div th:fragment="menu-add-form" class="module-popup script-add-menu-popup">
    <form th:action="@{/menu}" method="post">
        <h1>メニュー追加</h1>
        <p><input name="name" type="text" class="module-input-text" placeholder="メニュー名" /></p>
        <label class="module-input-radio" for="public"><input name="viewLimit" id="public" type="radio" value="0" checked />全員に公開</label>
        <label class="module-input-radio" for="private"><input name="viewLimit" id="private" type="radio" value="1" />ログインユーザーにのみ公開</label>
        <input type="hidden" name="path" th:value="${pathList}">
        <button class="module-submit-button bg-black-2" type="submit">
            保存
        </button>
    </form>
</div>

<div th:fragment="menu-edit-form" class="module-popup script-edit-menu-popup">
    <form action="" method="post">
        <h1>メニュー編集</h1>
        <p><input type="text" class="module-input-text" placeholder="メニュー名" /></p>
        <label class="module-input-radio" for="editPublic"><input id="editPublic" type="radio" />全員に公開</label>
        <label class="module-input-radio" for="editPrivate"><input id="editPrivate" type="radio" />ログインユーザーにのみ公開</label>
        <button class="module-submit-button bg-black-2">
            保存
        </button>
    </form>
</div>

<div th:fragment="menu-delete-form" class="module-popup script-menu-delete-popup">
    <form action="" method="post">
        <h1>メニュー削除</h1>
        <p>「」を削除してもよろしいですか？</p>
        <button class="module-submit-button bg-black-2">
            はい
        </button>
        <button class="module-submit-button bg-gray script-popup-cancel">
            いいえ
        </button>
    </form>
</div>

<div th:fragment="page-delete-form" class="module-popup script-page-delete-popup">
    <form action="" method="post">
        <h1>ページ削除</h1>
        <p>「」を削除してもよろしいですか？</p>
        <button class="module-submit-button bg-black-2">
            はい
        </button>
        <button class="module-submit-button bg-gray script-popup-cancel">
            いいえ
        </button>
    </form>
</div>

<ul th:fragment="menu-pages-list (id,lists,menu)">
    <li class="add-under-page" th:if="${id != null}">
        <div th:if="${user}">
            <div class="text-area">
                <form method="post" th:action="'/pages/branch'"><input name="name" type="text" class="module-input-text" />
                    <input type="hidden" name="parentId" th:value="${id}">
                    <input type="hidden" name="menuId" th:value="${menu.id}">
                    <button type="submit" class="module-submit-button">保存</button>
                    <button class="module-submit-button bg-gray script-add-page-hidden">キャンセル</button></form>
            </div>
        </div>
    </li>
    <li th:each="list : ${lists}">
        <div>
            <div class="text-area">
                <p><a th:text="${list.name}" th:href="'/contents/' + ${#strings.toLowerCase(menu.limit)} + '/' + ${menu.name} + '/' + ${list.path}">メインページ</a></p>
            </div>
            <ul class="menu-area" th:if="${user}">
                <li><div class="module-button bg-gray small"><a href=""><i class="fas fa-edit"></i>編集</a></div></li>
                <li><div class="module-button bg-gray small"><a href="" class="script-add-page-show"><i class="fas fa-plus"></i>追加</a></div></li>
                <li><div class="module-button bg-gray small"><a href="" class="script-page-delete"><i class="fas fa-minus"></i></i>削除</a></div></li>
            </ul>
        </div>
        <ul th:replace="components/common :: menu-pages-list(${list.id},${list.pages},${menu})"></ul>
    </li>
</ul>

<ul th:fragment="side-pages-list (id,lists,menu)">
    <li th:each="list : ${lists}">
        <a th:text="${list.name}" th:href="'/contents/' + ${#strings.toLowerCase(menu.limit)} + '/' + ${menu.name} + '/' + ${list.path}">メインページ</a>
        <ul th:replace="components/common :: side-pages-list(${list.id},${list.pages},${menu})"></ul>
    </li>
</ul>

<footer th:fragment="common-footer" class="base-footer">
    <small class="module-copy">Simple Wiki</small>
</footer>

</body>

</html>