@import 'var';

.base-body {
    overflow-x: hidden;
    &.overflow-hidden {
        overflow: hidden;

    }
}

.base-header {
    padding: 0 15px;
    background-color: $black-0;
    height: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    a {
        color: $white;
        text-decoration: none;
    }
}

.base-header-left {
    width: calc(100% - 151px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include mq(pc) {
        width: 100%;
    }
}

.base-header-right {
    width: 136px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include mq(pc) {
        width: 45px;
        position: absolute;
        right: 10px;
        top: 12px;
    }
}

.base-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &.bg-black-4 {
        background-color:  $black-4;
    }
    &.bg-gray {
        background-color:  $gray-0;
    }
}

.base-menu {
    width: 200px;
    background-color: $black-4;
    a {
        color: $white;
    }
    @include mq(tb) {
        overflow-y: scroll;
        height: 100vh;
        z-index: 3;
        padding-bottom: 80px;
        position: absolute;
        top: 60px;
        left: -200px;
        transition: .2s;
    }
    &.active {
        @include mq(tb) {
            left: 0;
            transition: .2s;
        }
    }
}

.base-content-body {
    width: calc(100% - 200px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq(tb) {
        width: 100%;
    }
    &.max {
        width: 100%;
    }
}

.base-content-body-head {
    width: 100%;
    padding: 0 30px 40px ;
    background-color: $black-4;
    color: $white;
    a {
        color: $white;
    }
    @include mq(tb) {
        padding-left: 20px;
    }
}

.base-content-article {
    width: calc(100% - 300px);
    padding: 50px;
    position: relative;
    @include mq(pc) {
        width: 100%;
    }
    @include mq(tb) {
        padding: 20px;
    }
    &.max {
        width: 100%;
    }
}

.base-content-head-menu {
    position: absolute;
    top: -37px;
    left: 0;
    width: 100%;
    @include mq(pc) {
        top: -35px;
        padding-right: 50px;
    }
    &.max {
        padding-right: 15px;
    }
}

.base-article-body {
    min-height: 780px;
}

.base-content-side {
    width: 300px;
    background-color: $gray-0;
    @include mq(pc) {
        position: absolute;
        right: -300px;
        transition: .2s;
        height: 100%;
    }
    &.active {
        @include mq(pc) {
            right: 0;
            transition: .2s;
            overflow-y: scroll;
            z-index: 3;
        }
    }
}

.base-footer {
    background-color: $black;
    text-align: center;
}

