@import 'var';

.module-logo {
    font-family: $font-family-logo;
    color: #fff;
    font-size: 1rem;
    padding: 15px 10px;
    width: 200px;
}

.module-search {
}

.module-button {
    &.border-white {
    }
    &.bg-white {
    }
    &.bg-gray {
    }
}

.module-menu-lists {}

.module-bread {}

.module-title {}

.module-head-menu {}

.module-article-index {}

.module-side-menu {}

.module-copy {}