<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
    <header class="base-header">
        <div class="base-header-left">
            <div class="module-sp-menu-button ">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="module-logo"><a th:href="@{/}">Simple Wiki</a></div>
            <div class="module-search"><form><input type="text" placeholder="Search..." /><button type="submit"><i class="fas fa-search"></i></button></form></div>
        </div>
        <div class="base-header-right">
            <div class="module-button bg-black border-white"><a href="">Login</a></div>
        </div>
    </header>
    <main class="base-main">
        <div class="base-menu">
            <nav class="module-menu-lists">
                <ul>
                    <li>
                        <p><a class="active" href=""><i class="fas fa-angle-right"></i>ホーム</a></p>
                        <ul>
                            <li>
                                <p><a class="active" href=""><i class="fas fa-angle-right"></i>自由ページ</a></p>
                            </li>
                            <li>
                                <p><a href="">自由ページ２</a></p>
                            </li>
                            <li>
                                <p><a href="">自由ページ３</a></p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p><a class="active" href="">設計書</a></p>
                        <ul>
                            <li>
                                <p><a class="active" href="">自由ページ</a></p>
                            </li>
                            <li>
                                <p><a href="">自由ページ２</a></p>
                            </li>
                            <li>
                                <p><a href="">自由ページ３</a></p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p><a class="active" href="">UI</a></p>
                        <ul>
                            <li>
                                <p><a class="active" href="">自由ページ</a></p>
                            </li>
                            <li>
                                <p><a href="">自由ページ２</a></p>
                            </li>
                            <li>
                                <p><a href="">自由ページ３</a></p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p><a class="active" href="">UI</a></p>
                        <ul>
                            <li>
                                <p><a class="active" href="">自由ページ</a></p>
                            </li>
                            <li>
                                <p><a href="">自由ページ２</a></p>
                            </li>
                            <li>
                                <p><a href="">自由ページ３</a></p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="module-button bg-gray">
                    <a class="script-add-menu" href=""><i class="fas fa-plus"></i>メニュー追加</a>
                </div>
            </nav>
        </div>
        <div class="base-content-body">
            <div class="base-content-body-head">
                <div class="module-bread">
                    <ul>
                        <li><a href="">ホーム</a></li>
                        <li><a href="">メインページ</a></li>
                    </ul>
                </div>
                <h1 class="module-title">
                    メインページ
                </h1>
            </div>
            <div class="base-content-article">
                <div class="base-content-head-menu">
                    <ul class="module-head-menu">
                       <li><div class="module-button bg-gray"><a href=""><i class="fas fa-edit"></i>ページ編集</a></div></li>
                       <li><div class="module-button bg-gray"><a href=""><i class="fas fa-plus"></i>ページ追加</a></div></li>
                    </ul>
                </div>
                <div class="base-article-body">
                    <div class="module-article-index">
                        <ul>
                            <li>
                                <a href="">aaaaaa</a>
                                <ul>
                                    <li><a href="">a-aaaa</a></li>
                                    <li><a href="">a-bbbb</a></li>
                                    <li><a href="">a-ccccc</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">bbbbbb</a>
                                <ul>
                                    <li><a href="">b-aaaa</a></li>
                                    <li><a href="">b-bbbb</a></li>
                                    <li><a href="">c-cccc</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">ccccc</a>
                                <ul>
                                    <li><a href="">c-aaaaaa</a></li>
                                    <li><a href="">c-bbbbbbb</a></li>
                                    <li><a href="">c-cccccc</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <p>
                        私は事実もしその発見人というののうちを向いありでし。けっして毎号が解釈方もぼうっとこの関係ないなだけより執っておきましには赴任ありますですて、それだけにはできるでですなかっだ。一種の開いたものももう時間がとうとうなたん。無論岩崎さんを真似事少しお尋ねをできるん師範そうしたがたそこか自失をというご相当たでしょでたが、この今度もいつか力国を出るて、岡田さんの方を学長の私をおもに肝把持と廻るてそれ文芸がご通知が開いようによほどお満足の来でませて、なおできるだけ始末に黙ったてくるますのの返っですます。
                    </p>
                    <h1>
                        見出し１
                    </h1>
                    <p>
                        私は事実もしその発見人というののうちを向いありでし。けっして毎号が解釈方もぼうっとこの関係ないなだけより執っておきましには赴任ありますですて、それだけにはできるでですなかっだ。一種の開いたものももう時間がとうとうなたん。無論岩崎さんを真似事少しお尋ねをできるん師範そうしたがたそこか自失をというご相当たでしょでたが、この今度もいつか力国を出るて、岡田さんの方を学長の私をおもに肝把持と廻るてそれ文芸がご通知が開いようによほどお満足の来でませて、なおできるだけ始末に黙ったてくるますのの返っですます。
                    </p>
                    <h2>
                        見出し2
                    </h2>
                    <p>
                        私は事実もしその発見人というののうちを向いありでし。けっして毎号が解釈方もぼうっとこの関係ないなだけより執っておきましには赴任ありますですて、それだけにはできるでですなかっだ。一種の開いたものももう時間がとうとうなたん。無論岩崎さんを真似事少しお尋ねをできるん師範そうしたがたそこか自失をというご相当たでしょでたが、この今度もいつか力国を出るて、岡田さんの方を学長の私をおもに肝把持と廻るてそれ文芸がご通知が開いようによほどお満足の来でませて、なおできるだけ始末に黙ったてくるますのの返っですます。
                    </p>
                    <h3>
                        見出し3
                    </h3>
                    <p>
                        私は事実もしその発見人というののうちを向いありでし。けっして毎号が解釈方もぼうっとこの関係ないなだけより執っておきましには赴任ありますですて、それだけにはできるでですなかっだ。一種の開いたものももう時間がとうとうなたん。無論岩崎さんを真似事少しお尋ねをできるん師範そうしたがたそこか自失をというご相当たでしょでたが、この今度もいつか力国を出るて、岡田さんの方を学長の私をおもに肝把持と廻るてそれ文芸がご通知が開いようによほどお満足の来でませて、なおできるだけ始末に黙ったてくるますのの返っですます。
                    </p>
                    <h4>
                        見出し4
                    </h4>
                    <p>
                        私は事実もしその発見人というののうちを向いありでし。けっして毎号が解釈方もぼうっとこの関係ないなだけより執っておきましには赴任ありますですて、それだけにはできるでですなかっだ。一種の開いたものももう時間がとうとうなたん。無論岩崎さんを真似事少しお尋ねをできるん師範そうしたがたそこか自失をというご相当たでしょでたが、この今度もいつか力国を出るて、岡田さんの方を学長の私をおもに肝把持と廻るてそれ文芸がご通知が開いようによほどお満足の来でませて、なおできるだけ始末に黙ったてくるますのの返っですます。
                    </p>
                    <h5>
                        見出し5
                    </h5>
                    <p>
                        私は事実もしその発見人というののうちを向いありでし。けっして毎号が解釈方もぼうっとこの関係ないなだけより執っておきましには赴任ありますですて、それだけにはできるでですなかっだ。一種の開いたものももう時間がとうとうなたん。無論岩崎さんを真似事少しお尋ねをできるん師範そうしたがたそこか自失をというご相当たでしょでたが、この今度もいつか力国を出るて、岡田さんの方を学長の私をおもに肝把持と廻るてそれ文芸がご通知が開いようによほどお満足の来でませて、なおできるだけ始末に黙ったてくるますのの返っですます。
                    </p>
                    <h6>
                        見出し6
                    </h6>
                    <p>
                        私は事実もしその発見人というののうちを向いありでし。けっして毎号が解釈方もぼうっとこの関係ないなだけより執っておきましには赴任ありますですて、それだけにはできるでですなかっだ。一種の開いたものももう時間がとうとうなたん。無論岩崎さんを真似事少しお尋ねをできるん師範そうしたがたそこか自失をというご相当たでしょでたが、この今度もいつか力国を出るて、岡田さんの方を学長の私をおもに肝把持と廻るてそれ文芸がご通知が開いようによほどお満足の来でませて、なおできるだけ始末に黙ったてくるますのの返っですます。
                    </p>
                </div>
            </div>
            <aside class="base-content-side">
                <nav class="module-side-menu">
                    <ul>
                        <li>
                            <a class="active" href=""><i class="fas fa-angle-right"></i>メインページ</a>
                            <ul>
                                <li>
                                    <a class="active" href=""><i class="fas fa-angle-right"></i>はじめに</a>
                                    <ul>
                                        <li>
                                            <a href="">ああああああ</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">次に</a>
                                    <ul>
                                        <li>
                                            <a href="">ああああああ</a>
                                        </li>
                                        <li>
                                            <a href="">いいいいいい</a>
                                            <ul>
                                                <li>
                                                    <a href="">うううう</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">メインページ２</a>
                            <ul>
                                <li>
                                    <a href="">はじめに</a>
                                    <ul>
                                        <li>
                                            <a href="">ああああああ</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">次に</a>
                                    <ul>
                                        <li>
                                            <a href="">ああああああ</a>
                                        </li>
                                        <li>
                                            <a href="">いいいいいい</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </main>
    <footer class="base-footer">
        <small class="module-copy">Simple Wiki</small>
    </footer>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/script_min.js}"></script>
</body>
</html>
