<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/common :: common-head('ログイン')"></head>
<body class="base-body">
<header th:replace="components/common :: login-header"></header>
<main class="base-main bg-black-4">
    <div class="module-login">
        <form th:action="@{/login}" method="post">
            <h1 th:text="${system.name}">Simple Wiki</h1>
            <div class="module-alert true" th:if="${success}">システムの初期設定が完了しました。</div>
            <div class="module-alert" th:if="${error}" th:text="${errorMessage}"></div>
            <p><input name="userName" placeholder="ID" type="text" class="module-input-text" /></p>
            <p><input name="userPassword" placeholder="PASSWORD" type="password" class="module-input-text" /></p>
            <button type="submit" class="module-submit-button">
                ログイン
            </button>
        </form>
    </div>
</main>
<div th:if="${originalHtml != null}" th:utext="${originalHtml.body}"></div>
<footer th:replace="components/common :: common-footer"></footer>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script th:src="@{/js/script_min.js}"></script>
<style th:if="${originalStyle != null}" th:utext="${originalStyle.body}"></style>
</body>
</html>
