<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/common :: common-head"></head>
<body class="base-body">
<header th:replace="components/common :: no-login-header"></header>
<main class="base-main">

</main>
<footer th:replace="components/common :: common-footer"></footer>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script th:src="@{/js/script_min.js}"></script>
</body>
</html>
