<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/common :: common-head(${currentMenu.name})"></head>
<body class="base-body">
<th:block th:if="${user}"><header th:replace="components/common :: user-header"></header></th:block>
<th:block th:unless="${user}"><header th:replace="components/common :: no-login-header"></header></th:block>
<main class="base-main">
    <div th:replace="components/common :: base-menu(${currentMenu},null)"></div>
    <div class="base-content-body">
        <div class="base-content-body-head">
            <div class="module-alert bg-white mt-10" th:if="${error}" th:text="${errorMessage}"></div>
            <div class="module-alert true bg-white mt-10" th:if="${success}" th:text="${successMessage}"></div>
            <div class="module-bread">
                <ul>
                    <li><a href="" th:text="${currentMenu.name}">ホーム</a></li>
                </ul>
            </div>
            <h1 class="module-title" th:text="${currentMenu.name}">
                ホーム
            </h1>
        </div>
        <div class="base-content-article max">
            <div class="base-content-head-menu max">
                <ul class="module-head-menu">
                    <li th:if="${user}"><div class="module-button bg-gray"><a href="" class="script-add-root-page-show"><i class="fas fa-plus"></i>ページ追加</a></div></li>
                    <li th:if="${user}"><div class="module-button bg-gray"><a class="script-edit-menu" href=""><i class="fas fa-cog"></i>メニュー編集</a></div></li>
                    <li th:if="${user}"><div class="module-button bg-gray"><a href="" class="script-menu-delete"><i class="fas fa-minus"></i></i>メニュー削除</a></div></li>
                </ul>
            </div>
            <div class="base-article-body">
                <div class="module-add-root-page">
                    <form method="post" th:action="'/pages/root'"><input type="text" name="name" class="module-input-text" />
                        <input type="hidden" name="menuId" th:value="${currentMenu.id}">
                    <button class="module-submit-button">保存</button><button class="module-submit-button bg-gray script-add-root-page-hidden">キャンセル</button></form>
                </div>
                <div class="module-alert" th:if="${error}" th:text="${errorMessage}"></div>
                <div class="module-menu-index-list">
                    <ul th:replace="components/common :: menu-pages-list(null ,${pages},${currentMenu})"></ul>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="components/common :: menu-add-form"></div>
<div th:replace="components/common :: menu-edit-form(${currentMenu})"></div>
<div th:replace="components/common :: menu-delete-form(${currentMenu})"></div>
<div th:replace="components/common :: page-delete-form"></div>

<div th:if="${originalHtml != null}" th:utext="${originalHtml.body}"></div>
<footer th:replace="components/common :: common-footer"></footer>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script th:src="@{/js/script_min.js}"></script>
<style th:if="${originalStyle != null}" th:utext="${originalStyle.body}"></style>
</body>
</html>
