<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/common :: common-head(${currentPage.name})"></head>
<body class="base-body">
<th:block th:if="${user}"><header th:replace="components/common :: user-header"></header></th:block>
<th:block th:unless="${user}"><header th:replace="components/common :: no-login-header"></header></th:block>
<main class="base-main">
    <div th:replace="components/common :: base-menu(${currentMenu},${rootPage})"></div>
    <div class="base-content-body">
        <div class="base-content-body-head">
            <div class="module-bread">
                <ul>
                    <li><a th:href="'/contents/' + ${#strings.toLowerCase(currentMenu.limit)} + '/' + ${currentMenu.name}" th:text="${currentMenu.name}"></a></li>
                    <li th:each="page : ${currentPages}"><a th:data-id="${page.id}" th:href="'/contents/' + ${#strings.toLowerCase(currentMenu.limit)} + '/' + ${currentMenu.name} + ${page.path}" th:text="${page.name}">ホーム</a></li>
                </ul>
            </div>
            <h1 class="module-title" th:text="${currentPage.name}">
                メインページ
            </h1>
        </div>
        <div class="base-content-article article">
            <div class="base-content-head-menu">
                <ul class="module-head-menu">
                    <li th:if="${user}"><div class="module-button bg-gray"><a target="_blank" th:href="'/contents/edit/' + ${currentMenu.id} + '/' + ${currentPage.id}"><i class="fas fa-edit"></i>ページ編集</a></div></li>
                    <li th:if="${user}"><div class="module-button bg-gray"><form method="post" th:action="'/pages/'+ ${currentMenu.id} +'/' + ${currentPage.id} + '/new'"><button type="submit"><i class="fas fa-plus"></i>ページ追加</button></form></div></li>
                    <li th:if="${user}"><div class="module-button bg-gray"><form method="post" th:action="'/pages/'+ ${currentMenu.id} +'/' + ${currentPage.id} + '/pdf'"><button type="submit"><i class="far fa-file-pdf"></i>PDF出力</button></form></div></li>
                </ul>
                <div class="module-sp-menu-button break-point-pc position-right script-toggle-side-menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="base-article-body article" th:utext="${currentBody.html}">

            </div>
        </div>
        <aside class="base-content-side">
            <nav class="module-side-menu">
                <ul th:replace="components/common :: side-pages-list(null,${pages},${currentMenu},${rootPage},${currentPage})"></ul>
            </nav>
        </aside>
    </div>
</main>
<div th:replace="components/common :: menu-add-form"></div>
<div th:if="${originalHtml != null}" th:utext="${originalHtml.body}"></div>

<footer th:replace="components/common :: common-footer"></footer>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script th:src="@{/js/script_min.js}"></script>
<style th:if="${originalStyle != null}" th:utext="${originalStyle.body}"></style>
</body>
</html>
